@media (max-width: 768px) {
  /* Cache les colonnes 3 et 4 par défaut */
  th:nth-child(3),
  th:nth-child(4),
  td:nth-child(3),
  td:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* Général */

body {
  padding: 10px;
  background-color: black;
}

* {
  color: white;
  font-family: "New Amsterdam", sans-serif;
}

div#app {
  display: grid;
}

/* Table */

/* Table Head */

th:not(:first-child) {
  width: 350px;
}

th:nth-child(2),
td:nth-child(2) {
  padding-left: 50px;
}

th:nth-child(4),
td:nth-child(4) {
  padding-right: 50px;
}

.p-thead {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(57, 179, 255, 0.638);
  font-size: 1.3em;
  padding-bottom: 15px;
  padding: 0px 48px 15px 48px;
  margin: 5px 5px 5px 0px;
}

/* #p-end {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(57, 179, 255, 0.638);
  font-size: 1.3em;
  display: inline-block;
  width: 342px;
  height: 47px;
}

#p-option {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(57, 179, 255, 0.638);
  font-size: 1.3em;
  display: inline-block;
  width: 342px;
  height: 47px;
}

#p-option-validity {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(57, 179, 255, 0.638);
  font-size: 1.3em;
  display: inline-block;
  width: 342px;
  height: 47px;
} */

/* Colonne en haut a gauche en noir */
th:first-child {
  background: black;
}

thead {
  background-color: rgba(53, 71, 81, 255);
  text-align: center;
  height: 60px;
}

#table-top th:nth-child(2) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#table-top th:nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Table body */

tbody tr {
  border-bottom: 1px solid;
  border-style: dashed;
  border-color: rgba(96, 129, 150, 255);
}

.table-info td:not(:first-child) {
  text-align: center;
}

p.p-info {
  font-size: 1.4rem;
}

/* Bloc joueur */

i {
  font-size: 50px;
}

.icon {
  width: max-content;
  float: inline-start;
  margin: 0px 20px 0px 10px;
  display: inline;
}

.player-info {
  display: inline;
}

.player-card {
  padding: 2px;
  background-color: rgba(0, 57, 87, 255);
  border-radius: 10px;
  margin: 30px 20px 10px 0px;
  display: flex;
  width: auto;
}

.p-position {
  color: rgb(168, 161, 161);
  font-style: italic;
  font-weight: bolder;
  font-family: "Encode Sans", sans-serif;
  margin-right: 15px;
}

/* Boutons de navigation */
.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-button:disabled {
  cursor: not-allowed;
}

.left-button {
  float: inline-start;
}

.right-button {
  float: inline-end;
}

button#prevButton ,.HideButtonLeft{
  position: relative;
  left: -45px;
  top: 13px;
  background: none;
}

button#nextButton, .HideButtonRight {
  position: relative;
  right: -45px;
  top: 13px;
  background: none;
}
